.card {
    margin-bottom: 0.5rem;
}

.tabs {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.title-card {
    padding-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.card-content {
    padding: 0.3rem;
}